In [4]:
import pandas as pd

In [5]:
df = pd.read_csv("data/ncaa-mens-historical.csv")
df

,Date,Round,Region,Winning Seed,Winner,Winning Score,Losing Seed,Loser,Losing Score,Overtime
0,3/14/85,Round of 64,East,1,Georgetown,68,16,Lehigh,43,NaN
1,3/14/85,Round of 64,East,4,"Loyola, Illinois",59,13,Iona,58,NaN
2,3/14/85,Round of 64,East,5,Southern Methodist,85,12,Old Dominion,68,NaN
3,3/14/85,Round of 64,East,8,Temple,60,9,Virginia Tech,57,NaN
4,3/14/85,Round of 64,Midwest,1,Oklahoma,96,16,North Carolina A&T,83,NaN
...,...,...,...,...,...,...,...,...,...,...
2045,3/27/16,Elite Eight,East,1,North Carolina,88,6,Notre Dame,74,NaN
2046,3/27/16,Elite Eight,Midwest,10,Syracuse,68,1,Virginia,62,NaN
2047,4/2/16,National Semifinals,NaN,1,North Carolina,83,10,Syracuse,66,NaN
2048,4/2/16,National Semifinals,NaN,2,Villanova,95,2,Oklahoma,51,NaN
2049,4/4/16,National Championship,NaN,2,Villanova,77,1,North Carolina,74,NaN

In [8]:
def to_tsv(data,filename="out.tsv"):
    data.to_csv("output/"+ filename, index=False, sep="\t")

def to_csv(data,filename="out.csv"):
    data.to_csv("output/"+ filename, index=False)


def to_json(data,filename="out.json"):
    data.to_json("output/"+ filename, orient="table")

In [10]:
df.columns

Index(['Date', 'Round', 'Region', 'Winning Seed', 'Winner', 'Winning Score',
       'Losing Seed', 'Loser', 'Losing Score', 'Overtime'],
      dtype='object')

In [11]:
import PyInquirer

ImportError: cannot import name 'style_from_dict' from 'prompt_toolkit.styles' (/Users/jung/opt/anaconda3/lib/python3.8/site-packages/prompt_toolkit/styles/__init__.py)

In [12]:
df.describe()

       Winning Seed  Winning Score  Losing Seed  Losing Score
count   2050.000000    2050.000000  2050.000000   2050.000000
mean       4.922927      76.909268     8.699512     65.215122
std        3.783800      11.975148     4.601064     11.196940
min        1.000000      43.000000     1.000000     29.000000
25%        2.000000      69.000000     5.000000     58.000000
50%        4.000000      76.000000     9.000000     64.500000
75%        7.000000      84.000000    13.000000     72.000000
max       16.000000     149.000000    16.000000    115.000000

In [28]:
l = ['UAB',
 'Florida',
 'Georgetown',
 'Delaware']

In [30]:
df[df.Winner.isin(l) | df.Winner.isin(l) ]

,Date,Round,Region,Winning Seed,Winner,Winning Score,Losing Seed,Loser,Losing Score,Overtime
0,3/14/85,Round of 64,East,1,Georgetown,68,16,Lehigh,43,NaN
22,3/15/85,Round of 64,Midwest,7,UAB,70,10,Michigan State,68,NaN
32,3/16/85,Round of 32,East,1,Georgetown,63,8,Temple,46,NaN
48,3/21/85,Sweet Sixteen,East,1,Georgetown,65,4,"Loyola, Illinois",53,NaN
56,3/23/85,Elite Eight,East,1,Georgetown,60,2,Georgia Tech,54,NaN
...,...,...,...,...,...,...,...,...,...,...
1889,3/22/14,Round of 32,South,1,Florida,61,9,Pittsburgh,45,NaN
1901,3/27/14,Sweet Sixteen,South,1,Florida,79,4,UCLA,68,NaN
1909,3/29/14,Elite Eight,South,1,Florida,62,11,Dayton,52,NaN
1926,3/19/15,Round of 64,South,4,Georgetown,84,13,Eastern Washington,74,NaN
1929,3/19/15,Round of 64,South,14,UAB,60,3,Iowa State,59,NaN

In [35]:
pprint(df.describe())

Pretty printing has been turned OFF